node_modules/
dist/
dist-*/
.output/
.vite/
.wrangler/
.vercel/

.env
.env.*
!.env.example

*.local
*.log
.DS_Store

*.tsbuildinfo
types/auto-imports.d.ts
types/components.d.ts
types/web-auto-imports.d.ts
types/web-components.d.ts
